.hidden {
  display: none;
}

.justify-left {
  justify-content: left;
}

.justify-right {
  justify-content: right;
}

.justify-space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.width-100 {
  width: 100%;
}

.no-margin {
  margin: 0;
}

.margin-bottom {
  margin-bottom: 1rem;
}

.gap {
  gap: 3rem;
}
